<div class="productForm" id="productForm">
    <h2>Hirdetés feladása</h2>
    <form action="/submit_form" method="POST">
        <br>
        <span>*</span>
        <label class=labelstyle for="varos">Város:</label><br>
        <input class=inputstyle type="text" id="varos" name="varos" placeholder="Város neve"
            pattern="[A-ZÁÉÚŐÓÜÖÍa-záéúőóüö]{1,20}"><br><br>

        <span>*</span>
        <label class=labelstyle for="negyed">Negyed:</label><br>
        <input class=inputstyle type="text" id="negyed" name="negyed" placeholder="Negyed neve"
            pattern="[A-ZÁÉÚŐÓÜÖÍa-záéúőóüö]{1,20}"><br><br>

        <span>*</span>
        <label class=labelstyle for="terulet">Felszínterület:</label><br>
        <input class=inputstyle type="number" id="terulet" name="terulet" placeholder="Terület négyzetméterben (m^2)"
            min=10><br>
        <br>

        <span>*</span>
        <label class=labelstyle for="szoba">Szobák száma:</label><br>
        <input class=inputstyle type="number" id="szoba" name="szoba" placeholder="Szobák száma" min=1><br>
        <br>

        <span>*</span>
        <label class=labelstyle for="ar">Ár:</label><br>
        <input class=inputstyle type="number" id="ar" name="ar" min=0 placeholder="Ár euroban"><br>
        <br>

        <input type="button" value="Validáció" onclick="validatePost()"> <br>
        <em class=error id='error'></em><br><br>
        <input id="submit" type="submit" value="Mentés" disabled> <br><br>

        <input type="button" value="Bezár" onclick="closeForm()"> <br><br>

    </form>
</div>

<div class="searchForm" id="searchForm">
    <h2>Keresés</h2>
    <form action="/search" method="GET">
        <br>
        <label class=labelstyle for="varosSearch">Város:</label><br>
        <input class=inputstyle type="text" id="varosSearch" name="varosSearch" placeholder="Város neve"
            pattern="[A-ZÁÉÚŐÓÜÖÍa-záéúőóüö]{1,20}"><br><br>

        <label class=labelstyle for="negyedSearch">Negyed:</label><br>
        <input class=inputstyle type="text" id="negyedSearch" name="negyedSearch" placeholder="Negyed neve"
            pattern="[A-ZÁÉÚŐÓÜÖÍa-záéúőóüö]{1,20}"><br><br>

        <label class=labelstyle for="arMin">Minimum ár:</label><br>
        <input class=inputstyle type="number" id="arMin" name="arMin" min=0 placeholder="Ár euroban"><br>
        <br>

        <label class=labelstyle for="arMax">Maximum ár:</label><br>
        <input class=inputstyle type="number" id="arMax" name="arMax" min=0 placeholder="Ár euroban"><br>
        <br>

        <input type="submit" value="Keresés"> <br><br>
        <input type="button" value="Bezár" onclick="closeForm()"> <br><br>

    </form>

</div>

<div class="pictureForm" id="pictureForm">
    <h2>Kép feltöltése</h2>
    <form action="/upload_file" method="POST" enctype="multipart/form-data">
        <br>

        <span>*</span>
        <label class=labelstyle for="hirdID">Hirdetés ID-ja:</label><br>
        <input class=inputstyle type="text" id="hirdID" name="hirdID" placeholder="Egyedi ID" value="{{hird._id}}"
            readonly><br><br>

        <input type="file" name="fileToUpload" id="fileToUpload" accept="image/*">
        <input id="feltolt" type="submit" value="Kép feltöltése"> <br><br>

        <input type="button" value="Bezár" onclick="closeForm()"> <br><br>

    </form>

</div>


<div class="loginForm" id="loginForm">
    <h2>Bejelentkezés</h2>
    <form action="/login" method="POST">
        <br>

        <span>*</span>
        <label class=labelstyle for="felhasznalo">Felhasználónév:</label><br>
        <input class=inputstyle type="text" id="felhasznalo" name="felhasznalo" placeholder="Felhasználónév"
            required><br><br>

        <span>*</span>
        <label class=labelstyle for="password">Jelszó:</label><br>
        <input class=inputstyle type="password" id="password" name="password" placeholder="Jelszó" required><br><br>

        <input id="feltolt" type="submit" value="Bejelentkezés"> <br><br>

        <a href="/register">Nincs felhasználóm. Regisztrálok.</a><br><br>

        <input type="button" value="Bezár" onclick="closeForm()"> <br><br>


    </form>

</div>

