<nav>
    {{#if user}}
        <form action="/logout" method="POST">
            <input class="logout" type="submit" id="log" name="logout" value="Kijelentkezés">
        </form>
        <h1 id="username">Bejelentkezve: {{user}}</h1>
    {{else}}
        <button id="log" onclick="login()">Bejelentkezés</button>
    {{/if}}

</nav>