<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>LakásHirdetések</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <script src="script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="errorMessage">
         <p>{{message}}</p>
    </div>

    <div class="pagetop">
        <h1>LakásHirdetések</h1>
        <button id="home" onclick="location.href='/';"><i class="fa fa-home"></i></button>
        <button id="search" onclick="keres()"><i class="fa fa-search"></i></button>
        <button id="hirdet" onclick="ujHirdetes()">Hirdetés feladása</button>
        {{> loginheader}}
    </div>
    {{> forms}}
</body>

</html>