<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>LakásHirdetések</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <script src="script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="hirdetesek">
        <div class="hirdetes">
            
            <p>Varos: {{hird.varos}}</p>
            <p>Negyed: {{hird.negyed}}</p>
            <p>Terület: {{hird.terulet}} m2</p>
            <p>Szobák száma: {{hird.szoba}}</p>
            <p>Ár: {{hird.ar}} euro</p>
            <p>Feltöltés időpontja: {{hird.feltoltesIdopont}}</p>
            
            <br>
            {{#if realuser}}
            {{#each kep}}
            <div class="kepek">
            <button class="remove" id="remove{{_id}}" onclick="deletePic('{{_id}}')"><i class="fa fa-trash"></i>  Töröl</button>
            <br>
            <img class="kep" id="kep{{_id}}" src="uploadDir/{{kep}}" alt="Image">
            <p class="success" id="success{{_id}}">Sikeres törlés.</p>
            <br>
            </div>
            <br><br>
            {{/each}}
            {{else}}
             {{#each kep}}
            <img src="uploadDir/{{kep}}" alt="Image">
            <br><br>
            {{/each}}
            {{/if}}
            

            <br>
            <br>
            {{#if realuser}}
            <input id="kep" type="button" value="Kép hozzáadasa hirdetéshez" onclick="ujKep()"> <br>
            {{/if}}
        </div>
    </div>

   <div class="pagetop">
        <h1>LakásHirdetések</h1>
        <button id="home" onclick="location.href='/';"><i class="fa fa-home"></i></button>
        <button id="search" onclick="keres()"><i class="fa fa-search"></i></button>
        <button id="hirdet" onclick="ujHirdetes()">Hirdetés feladása</button>
        {{> loginheader}}
    </div>
    {{> forms}}

</body>

</html>