<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>LakásHirdetések</title>
    <link rel="stylesheet" href="style.css" type="text/css">
    <script src="script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="pagetop">
        <h1>LakásHirdetések</h1>
        <button id="home" onclick="location.href='/';"><i class="fa fa-home"></i></button>
        <button id="search" onclick="keres()"><i class="fa fa-search"></i></button>
        <button id="hirdet" onclick="ujHirdetes()">Hirdetés feladása</button>
        {{> loginheader}}
    </div>

    <div class="register">
        <h2>Regisztráció</h2>
         <form action="/submitUser" method="POST">
            <br>

            <span>*</span>
            <label class=labelstyle for="email">Email cím::</label><br>
            <input class=inputstyle type="text" id="email" name="email" placeholder="Email cím:"
                required><br><br>

            <span>*</span>
            <label class=labelstyle for="felhasznalo">Felhasználónév:</label><br>
            <input class=inputstyle type="text" id="felhasznalo" name="felhasznalo" placeholder="Felhasználónév"
                required><br><br>

            <span>*</span>
            <label class=labelstyle for="password">Jelszó:</label><br>
            <input class=inputstyle type="password" id="password" name="password" placeholder="Jelszó" required><br><br>

            <span>*</span>
            <label class=labelstyle for="passwordagain">Jelszó újra:</label><br>
            <input class=inputstyle type="password" id="passwordagain" name="passwordagain" placeholder="Jelszó" required><br><br>

            <label for="admin">Admin</label>
            <input type="checkbox" id="admin" name="admin" value="admin"><br><br>


            <input type="button" value="Validáció" onclick="validateUser()"> <br>
            <em class=error id='error'></em><br><br>
            <input id="feltolt" type="submit" value="Regisztráció" disabled> <br><br>


        </form>
    </div>
    {{> forms}}
</body>

</html>