h1{
    color: white;
    margin-left: 10px;
    margin-top: 5px;
    
}

a{
    color: rgb(217, 97, 32);
}

.fa{
    color: rgb(217, 97, 32);
}

button{
    border-style: solid;
    border-color: rgb(217, 97, 32);
    color: rgb(217, 97, 32);
    background-color: black;
}


button:hover{
    background-color: rgb(54, 54, 54);
}


.kepek button {
    margin:0 auto;
    display:block;
}

.remove:hover ~ .kep{
    border-style: solid;
    border-color: rgb(217, 97, 32);
    color: red;
}


.logout{
    border-style: solid;
    border-color: rgb(217, 97, 32);
    color: rgb(217, 97, 32);
    background-color: black;
}

.logout:hover{
    background-color: rgb(54, 54, 54);
}

#hirdet{
    width: 200px;
    height: 40px;
    font-size: large;
    text-align: center;
    position: fixed;
    right: 175px;
    top: 15px;
}

#search{
    width: 50px;
    height: 40px;
    font-size: large;
    text-align: center;
    position: fixed;
    right: 385px;
    top: 15px;
}

#home{
    width: 50px;
    height: 40px;
    font-size: large;
    text-align: center;
    position: fixed;
    right: 445px;
    top: 15px;
}

#log{
    width: 150px;
    height: 40px;
    font-size: large;
    text-align: center;
    position: fixed;
    right: 15px;
    top: 15px;
}

#username{
    font-size: large;
    border-radius: 25px;
    color: rgb(217, 97, 32);
    position: fixed;
    right: 500px;
    top: 17px;
    border-style: solid;
    border-color: rgb(217, 97, 32);
    padding-left: 15px;
    padding-right: 15px;
}

.pagetop{
    background-color: black;
    position: fixed;
    top: 10px;
    width: 100%;
    height: 50px;
}

.productForm{
    text-align:center;
    width: 500px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 20px #595959;
    position: fixed;
    visibility: hidden;
    left: 50%;
    transform: translate(-50%, 0);
    top: 90px;
}

#newHird{
    width: 200px;
}
#kep{
    width: 200px;
}

.form{
    position: fixed;
    top: 37px;
    right: 175px;
    visibility: hidden;
}

.pictureForm{
    text-align:center;
    width: 500px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 20px #595959;
    position: fixed;
    visibility: hidden;
    left: 50%;
    top: 90px;
    transform: translate(-50%, 0);
}

.searchForm{
    text-align:center;
    width: 500px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 20px #595959;
    position: fixed;
    visibility: hidden;
    left: 50%;
    transform: translate(-50%, 0);
    top: 90px;
}

.loginForm{
    text-align:center;
    width: 500px;
    background-color: black;
    color: white;
    box-shadow: 0px 0px 20px #595959;
    position: fixed;
    visibility: hidden;
    left: 50%;
    top: 90px;
    transform: translate(-50%, 0);
}

span{
    color: red;
}

.error{
    color: red;
}

.errorMessage{
    color: white;
    background-color: black;
    width: 800px;
    top: 70px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.errorMessageServer{
    color: red;
    background-color: black;
    width: 800px;
    top: 70px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}

.hirdetesek{
    color: white;
    background-color: black;
    width: 800px;
    top: 70px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    position: relative;
    margin: 0 auto;
}


.hirdetes{
    border-style: solid;
    border-color: white;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.hirdetes:hover{
    border-color: rgb(217, 97, 32);
}

.rejtett{
    /*visibility: hidden;*/
    display: none;
}


body{
    background-image: url('2268278.jpg');
    background-size: 100% ;
}

#kep{
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

img{
    max-width: 450px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.success{
    color: rgb(217, 97, 32);
    text-align: center;
    display: none;
}

.register{
    color: white;
    background-color: black;
    width: 800px;
    top: 70px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    padding-left: 40px;
    position: relative;
    margin: 0 auto;
    text-align: center;
}
